# MongoDB Connection String
# Get this from MongoDB Atlas: https://cloud.mongodb.com/
MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/expensemate?retryWrites=true&w=majority

# NextAuth Configuration
# Generate a secret: openssl rand -base64 32
NEXTAUTH_SECRET=your_super_secret_key_here_change_this_in_production
NEXTAUTH_URL=http://localhost:3000

EMAIL_USER=testmail@gmail.com
EMAIL_PASSWORD=your password